@model lrndrpub.Models.Post

@{
    if (Context.Request.Path.Value.ToLower().Contains("/post/")
        && !string.IsNullOrEmpty(Model.CoverImage))
    {
        <div class="coverimage row col-12">
            <img src="@Model.CoverImage" title="@Model.Title" />
        </div>
    }
}

<a asp-page="post" asp-route-slug="@Model.Slug"><h1>@Model.Title</h1></a> <i>@Model.PublishedAt.ToShortDateString()</i>
<br />

<partial name="Admin/Shared/_AdminMenu" model="@Model" />

@Html.Raw(Model.Content)
