@page "{handler?}"
@inject IConfiguration _settings
@inject AppDbContext _db
@model IndexModel
@{
    ViewData["Title"] = "Admin";
}

<div class="container admin-padding">
    <div class="row">
        <div class="col-md-4">
            <h4>Posts (@_db.Posts.Count(p => p.IsPage == false))</h4>
            <ul>
                @{
                    foreach (Post p in _db.Posts.Where(p => p.IsPage == false))
                    {
                <li>@p.Title (<a asp-page="/post" asp-route-slug="@p.Slug">View</a> | <a asp-page="Edit" asp-route-id="@p.PostId">Edit</a>)</li>
                    }
                }
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Pages (@_db.Posts.Count(p => p.IsPage == true))</h4>
            <ul>
                @{
                    foreach (Post p in _db.Posts.Where(p => p.IsPage == true))
                    {
                <li>@p.Title (<a asp-page="/page" asp-route-slug="@p.Slug">View</a> | <a asp-page="Edit" asp-route-id="@p.PostId">Edit</a>)</li>
                    }
                }
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Comments (@_db.Comments.Count())</h4>
            <ul>
                @{
                    foreach (Comment c in _db.Comments)
                    {
                <li>@c.PostId (View | Approve)</li>
                    }
                }
            </ul>
            </ul>
        </div>
    </div>
</div>

